.background {
background-color: #4285f4;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
margin-left: 5px;
margin-right: 5px;
box-shadow: 1px 1px 5px #757575;
}

.background-div {
background-color: transparent;
border-radius: 10px;
box-shadow: 1px 1px 3px #757575;
}

.background-list {
background-color: #ffffff;
color: #4285f4!important;
border-color: #ffffff!important;
}

.visibility-gone {
display: none;
}

.image {
width: 100%;
height: auto;
}

.image-max {
max-width: 100%;
height: auto;
}

.image-cover {
width: 0;
height: 0;
}

.marginTop {
margin-top: 20%;
}

.h {
color: #212121;
}
